# ----------------------- Server Stack -----------------------
LINUX_USER=eslam
CODE_SERVER_PASSWORD=password
CODE_SERVER_SUDO_PASSWORD=password

# ----------------------- DEV Stack -----------------------
# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
# MongoDB
MONGO_ROOT_USER=user
MONGO_ROOT_PASSWORD=password
MONGO_DB=db
# Redis
REDIS_PASSWORD=password
# Rustfs
RUSTFS_ACCESS_KEY=access
RUSTFS_SECRET_KEY=secret
